@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400;">Primer Año</p>
<p style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400;">Comunicación (1° cuat.)<br />Unidad de definición Institucional (2° cuat.)<br />Matemática<br />Inglés Técnico I<br />Administración <br />Tecnología de la Información <br />Lógica y Estructura de Datos <br />Ingeniería de Software I<br />Sistemas Operativos </p>
						