@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><span style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400; color: var( --e-global-color-text ); word-spacing: 0.05em;">Segundo Año</span></p>
<p style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400;">Problemáticas Socio Contemporáneas (1° cuat.)<br />Unidad de definición Institucional (2° cuat.)<br />Inglés Técnico II<br />Innovación y Desarrollo Emprendedor<br />Estadística<br />Programación I<br />Ingeniería de Software II<br />Base de Datos I<br />Práctica Profesionalizante I</p>					
