@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p><span style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400; color: var( --e-global-color-text ); word-spacing: 0.05em;">Tercer Año</span></p>
<p style="font-family: Roboto, sans-serif; font-size: 20px; font-style: normal; font-weight: 400;">Ética y Responsabilidad Social<br />Derecho y Legislación Laboral <br />Redes y Comunicación<br />Programación II<br />Gestión de Proyectos de Software<br />Base de Datos II<br />Práctica Profesionalizante II </p>		