@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] materias = ViewData["Materias"] as string[];
}
<h1>@ViewData["Año"]</h1>
<ul>
    @foreach (string elemento in materias)
    {
        <li>@elemento</li>
    }
</ul>